// Import page-specific CSS files here.
@import "home";

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-img img {
  width: 200px;
  padding-right: 20px;
}

.inner-content {
  display: block;
  padding: 20px;
}

.list-wrapper {
  margin: 50px auto;
}

.list-item {
  background-color: #fff;
  padding: 30px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.navbar {
  background-color: #fff;
  height: 80px;
  align-items: center;
  margin-bottom: 25px;
}
.nav-container {
  width: 100%;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu-wrapper-right .btn {
  margin: 0 20px;
}

.menu-items ul {
  width: 630px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-items ul>li {
  text-decoration: none;
  list-decoration: none;
  list-style-type: none;
}
.instrument-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.search-box .form-group {
  display: flex;
}

.search-box .form-group input:not(:last-child) {
  margin-right: 20px;
}

.search-box {
  display: block!important;
  margin: 25px 0;
  padding: 0 50px;
}

#map {
  height: 100vh!important;
  position: sticky;
  top: 0;
  margin: 0!important;
}

.list-count p {
  text-align: right;
  padding: 0 50px;
  color: grey;
}

.category-tag input[type="radio"] {
  display: none;
}

.category-tag label {
  max-width: 110px;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
  color: grey;
  text-align: center;
  display: inline-flex;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(22, 127, 251, 0.20) 0px 0px 0px 1px;
}

.category-tag label:hover {
  max-width: 110px;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
  color: #fff;
  text-align: center;
  display: inline-flex;
  background-color: #167FFB;
  text-decoration: none;
  box-shadow: none;
}

.category-tag input[type="radio"]:checked+label {
  max-width: 110px;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
  color: #fff;
  text-align: center;
  display: inline-flex;
  background-color: #167FFB;
  text-decoration: none;
  box-shadow: none;
}

label {
  margin: 0;
}
