// Import page-specific CSS files here.
@import "home";
@import "instrument_show";

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-img img {
  width: 200px;
  padding-right: 20px;
}

.inner-content {
  display: block;
  padding: 20px;
}

.list-wrapper {
  margin: 50px auto;
}

.list-item {
  background-color: #fff;
  padding: 30px;
}


.navbar {
  background-color: #fff;
  height: 80px;
  align-items: center;
  margin-bottom: 50px;
}
.nav-container {
  width: 100%;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.menu-items ul {
  width: 630px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-items ul>li {
  text-decoration: none;
  list-decoration: none;
  list-style-type: none;
}
