.owner-details {
  display: flex;
  justify-content: start;
  height: 24px;
  align-items: end;
  height: 50px;
}

.instrument-show-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.instrument-details {
  margin-left: 80px;
}

.btn-right {
  margin-left: 55rem;
}
