// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "chatroom";

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-img img {
  width: 200px;
  padding-right: 20px;
}

.inner-content {
  display: block;
  padding: 20px;
}

.list-wrapper {
  margin: 50px auto;
}

.list-item {
  background-color: #fff;
  padding: 30px;
}
