.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #fff;
  height: 80px;
  align-items: center;
  margin-bottom: 50px;
}
.nav-container {
  width: 100%;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu-items ul {
  width: 630px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
}

.menu-items ul>li {
  text-decoration: none;
  list-decoration: none;
  list-style-type: none;
}

