<h1 style="text-align:center">Instruments</h1>
<div class="container">
  <% @instruments.each do |instrument| %>
    <h3><%= instrument.name %> <%= instrument.model %></h3>
    <p><%= instrument.rate %></p>
  <% end %>
</div>

